.banner {
  color: #fff;
  object-fit: contain;
  height: 448px;
  margin-bottom: 1rem;
  &__fadeBottom {
    height: 448px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(129, 212, 250, 0.05),
      #1b1b1b
    );
  }

  &__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    position: absolute;
  }
  &__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  &__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 350px;
    height: 80px;
  }
  &__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(12, 12, 12, 0.6);
    transition: all 0.2s;
    &:hover {
      color: rgba(51, 51, 51, 1);

      background-color: rgb(255, 255, 255);
    }
  }
}
